.title {
    text-align: center;
    margin: 1em 0 0.5em 0;
    font-weight: 600;
    font-family: 'Titillium Web', sans-serif;
    position: relative;
    font-size: 18px;
    line-height: 20px;
    color: #788699;
}

.container {
    max-width: 650px;
    margin: 0 auto;
}